.banner {
  align-items: center;
  background-color: var(--verde-escuro);
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  height: 270px;
  justify-content: center;
}

.banner__homepage {
  background-image: url(../assets/Mobile/banner__homepage.png);
}

.banner__experiencia {
  background-image: url(../assets/Mobile/banner__experiencia.png);
}

.banner__informacoes {
  background-image: url(../assets/Mobile/banner__informacoes.png);
}

.banner__ingresso {
  background-image: url(../assets/Mobile/banner__ingresso.png);
}

.banner__ingresso2 {
  background-image: url(../assets/Mobile/banner__ingresso2.png);
}

.banner__setores {
  background-image: url(../assets/Mobile/banner__setores.png);
}

.banner h1 {
  color: var(--branco);
  font-family: var(--fonte-titulo);
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  width: 300px;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 384px;
  }
  
  .banner h1 {
    font-size: 3rem;
    line-height: 4rem;
    width: 600px;
  }

  .banner__homepage {
    background-image: url(../assets/Desktop/banner__homepage.png);
  }

  .banner__experiencia {
    background-image: url(../assets/Desktop/banner__experiencia.png);
  }
  
  .banner__informacoes {
    background-image: url(../assets/Desktop/banner__informacoes.png);
  }
  
  .banner__ingresso {
    background-image: url(../assets/Desktop/banner__ingresso.png);
  }

  .banner__ingresso2 {
    background-image: url(../assets/Desktop/banner__ingresso2.png);
  }
  
  .banner__setores {
    background-image: url(../assets/Desktop/banner__setores.png);
  }
}

@media screen and (min-width: 1440px) {
  .banner {
    height: 407px;
  }

  .banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
