.experiencia__principal {
    background: var(--gradiente-boreal);
    min-height: 80vh;
    padding-bottom: 2rem;
  }

.experiencia {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 3rem 0;
  width: 95%;
}



.experiencia__imagem {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 381px;
  width: 90%;
}

.imagem__01 {
  background-image: url(../assets/Mobile/experiencia__1.png);
}

.imagem__02 {
  background-image: url(../assets/Mobile/experiencia__2.png);
}

.imagem__03 {
  background-image: url(../assets/Mobile/experiencia__3.png);
}

.experiencia__conteudo .texto {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .experiencia__imagem {
    max-width: 609px;
    min-width: 609px;
  }

  .imagem__01 {
    background-image: url(../assets/Desktop/experiencia__1.png);
  }
  
  .imagem__02 {
    background-image: url(../assets/Desktop/experiencia__2.png);
  }
  
  .imagem__03 {
    background-image: url(../assets/Desktop/experiencia__3.png);
  }
}

@media screen and (min-width: 1440px) {
  .experiencia {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    width: 80%;
  }

  .experiencia:nth-child(2) {
    display: grid;
  }
  
  .experiencia:nth-child(2) .experiencia__imagem {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .experiencia:nth-child(2) .experiencia__conteudo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .experiencia__conteudo {
    flex-grow: 1;
  }

  .experiencia__conteudo .texto, .experiencia__conteudo .titulo-quaternario {
    text-align: left;
  }

  .experiencia:nth-child(2) .experiencia__conteudo .texto, .experiencia:nth-child(2) .experiencia__conteudo .titulo-quaternario {
    text-align: right;
  }
}