.homepage {
  min-height: 80vh;
  padding-bottom: 2rem;
  background: var(--gradiente-boreal);
}

.datas {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem 0;
  width: 95%;
}

.datas__imagem {
  height: 381px;
  background-image: url(../assets/Mobile/homepage__1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 90%;
}

.datas__conteudo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.datas__conteudo a {
  margin: 2rem 0;
}

.datas__conteudo p {
  text-align: center;
}

.homepage__imagem {
  background-blend-mode: multiply;
  background-color: var(--roxo);
  background-image: url(../assets/Mobile/homepage__2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 338px;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .datas__imagem {
    background-image: url(../assets/Desktop/homepage__1.png);
    height: 381px;
    max-width: 609px;
    min-width: 609px;
  }

  .homepage__imagem {
    background-image: url(../assets/Desktop/homepage__2.png);
  }
}

@media screen and (min-width: 1440px) {
  .datas {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    width: 80%;
  }

  .datas__conteudo {
    flex-grow: 1;
  }

  .datas__conteudo a {
    margin: 2rem 0 0 0;
  }
}
