.ingresso__principal {
    background: var(--gradiente-boreal);
    min-height: 80vh;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingresso__titulo {
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    text-align: center;
    color: var(--branco);
    padding: 4rem 0;
    width: 80%;
    margin: auto;
}

.ingresso__formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95%;
    margin: auto;
}

.ingresso__formulario label {
    font-family: var(--fonte-texto);
    color: var(--branco);
    font-size: 2rem;
    font-weight: 700;
}

.ingresso__input, .ingresso__select {
    width: auto;
    height: 52px;
    padding: 1px 2px;

    font-family: var(--fonte-texto);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.ingresso__select {
    height: 56px;
}

.ingresso__botao {
    align-items: center;
    background-color: var(--roxo);
    border-radius: 20px;
    box-shadow: 4px 4px 0 0 #000000;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
    text-decoration: none;
    width: 150px;
  }
  
  .ingresso__botao p {
    color: var(--branco);
    display: inline-block;
    font-family: var(--fonte-texto);
    font-size: 1.2;
    font-weight: 700;
  }