.line-up {
    width: 95%;
    margin: auto;
    text-align: center;
}

.line-up__tarja-datas {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    margin: 0.5rem 0;
}

.line-up__tarja-datas__linha {
    background-color: var(--verde-escuro);
    height: 1px;
    flex-grow: 1;
}

.line-up__lista {
    font-family: var(--fonte-texto);
    color: var(--branco);
    font-weight: 700;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    flex-wrap: wrap;
    line-height: 5rem;
}

.line-up__lista li {
    font-size: 1.5rem; 
}


.lista-1 li {
    font-size: 3rem;
}

.lista-2 li {
    font-size: 2.5rem;
}

.lista-3 li {
    font-size: 2rem;
}

