.principal {
  min-height: 80vh;
  padding-bottom: 2rem;
  background: var(--gradiente-boreal);
}

.datas {
  width: 95%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datas__imagem {
  width: 90%;
  height: 381px;
  background-image: url(../assets/Mobile/1\ -\ Homepage1.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: 20px;
}

.datas__conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datas__conteudo a {
  margin: 2rem 0;
}

.datas__conteudo p {
  text-align: center;
}



/* LINE-UP */









@media screen and (min-width: 768px) {
  .datas__imagem {
    background-image: url(../assets/Desktop/1\ -\ Imagem\ -\ homepage1.png);
    min-width: 609px;
    max-width: 609px;
    height: 381px;
  }

  
}

@media screen and (min-width: 1440px) {
  .datas {
    justify-content: space-between;
    gap: 2rem;
    flex-direction: row;
    width: 80%;
  }

  .datas__conteudo {
    flex-grow: 1;
  }

  .datas__conteudo a {
    margin: 2rem 0 0 0;
  }
}