.rodape {
  background-color: var(--roxo);
}

.rodape__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem 0;
  width: 90%;
}

.rodape__imagem-e-redes-sociais {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rodape__logo {
  padding-bottom: 1rem;
  width: 234px;
}

.rodape__redes-sociais p {
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.rodape__lista-redes-sociais {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-bottom: 2rem;
}

.rodape__creditos {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rodape__creditos p {
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .rodape__redes-sociais {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .rodape__redes-sociais p {
    padding-bottom: 2rem;
  }

  .rodape__creditos {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .rodape__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .rodape__imagem-e-redes-sociais {
    align-items: baseline;
  }

  .rodape__creditos {
    align-items: baseline;
    flex-direction: column;
  }
}
