.setores__principal {
    background: var(--gradiente-boreal);
    min-height: 80vh;
    padding-bottom: 2rem;
}

.mapa {

}

.mapa__imagem {

}

.mapa__legenda {

}

.mapa__legenda ul {

}

.mapa__legenda li {
    
}

.mapa__legenda div {
    
}

.mapa__legenda p {
    
}