@import url("../css/line-up.css");
@import url("../css/banner.css");
@import url("../css/cabecalho.css");
@import url("../css/homepage.css");
@import url("../css/rodape.css");

:root {
  --branco: #fff;
  --lilas: #B6BCFF;
  --roxo: #4650BD;
  --verde: #008364;
  --verde-claro: #36C1A0;
  --verde-escuro: #304968;

  --gradiente-boreal: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);

  --fonte-texto: 'Raleway', sans-serif;
  --fonte-titulo: 'Calistoga', cursive;
}

body {
  font-family: var(--fonte-texto);
  min-height: 100vh;
}

.titulo-secundario {
  color: var(--branco);
  font-family: var(--fonte-titulo);
  font-size: 3rem;
  font-weight: 400;
  padding: 2rem 0; 
}

.titulo-terciario {
  background-color: var(--verde);
  color: var(--branco);
  display: inline-block;
  font-family: var(--fonte-titulo);
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem 0;
  padding: 1rem;
  text-align: center;
}

.titulo-quaternario {
  color: var(--branco);
  font-family: var(--fonte-titulo);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 2rem 0;
  text-align: center;
}

.texto {
  color: var(--branco);
  font-family: var(--fonte-texto);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.botao {
  align-items: center;
  background-color: var(--roxo);
  border-radius: 20px;
  box-shadow: 4px 4px 0 0 #000000;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 0;
  text-decoration: none;
  width: 250px;
}

.botao p {
  color: var(--branco);
  display: inline-block;
  font-family: var(--fonte-texto);
  font-size: 1.2;
  font-weight: 700;
}
